# игнорируем каталоги сборки (CLion, CMake)
cmake-build-*/
lib/
minizip/
other/
test/

# utf8proc
utf8proc/
utf8proc-*/
utf8proc-*.zip


# каталог логов (унифицированный вывод)
logs/

# бинарные файлы и библиотеки
*.exe
*.dll
*.so
*.a
*.lib
*.o
*.obj
*.out
*.user
*.log

# системные и IDE-файлы
.idea/
*.iml
.DS_Store

# если не хочешь игнорировать src/
!src/
